# Folders
art
docs
env
seed

# Database
demo/db.sqlite3

# React dependencies
demo/frontend/node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
 

#VS Code
DEMO.code-workspace
.vscode/