# Folders
art
docs
env
seed

# Database
drago/db.sqlite3

# React dependencies
drago/frontend/node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
 

#VS Code
DRAGO.code-workspace